img#slide-img{
  width:100%;
}

div.item.active{
  max-height:300px;
}

div#placeholder{
  background-image:url(../../assets/img/2642-0014-13-002c.jpg);
  background-size:contain;
  background-repeat:no-repeat;
  width:100px;
  height:100px;
  margin:30px;
  display:inline-block;
}

div#product-row.row{
  height:50px;
  background:white;
  border-radius:25px;
  margin-bottom:10px;
  margin-top:10px;
  font-size:larger;
}

div.container{
  margin-top:30px;
}

div#product-price{
  background:grey;
  height:50px;
  width:150px;
  line-height:50px;
  text-align:center;
}

div#product-text{
  height:50px;
  text-align:center;
  line-height:50px;
}

li#category-list-item{
  border:solid orange 1px;
}

button#product-cart-btn{
  position:relative;
  top:50%;
  margin-top:14px;
}

div#product-detail-desc{
  background:white;
  border:solid orange;
  border-radius:25px;
  margin-bottom:10px;
  padding:20px;
}

div#product-review{
  margin:20px;
  margin-bottom:40px;
}

div#product-pane{
  width:225px;
  margin:10px;
  display:inline-block;
  overflow:hidden;
}

div#category-pane{
  height:125px;
  width:125px;
  margin:15px;
}

div#category-panel.col-md-12{
  display:flex;
  align-content:space-around;
  justify-content:center;
  flex-wrap:nowrap;
}
