<div class="container">
	<br>
	<div class="alert alert-danger clearfix" role="alert">
		<h5 class="pull-left">Product edit mode</h5>
		<button class="btn btn-danger pull-right" ng-click="saveChanges()">Save changes</button>
	</div>
	<div id="product" class="row">
		<div class="col-xs-4">
			<div class="form-group col-xs-8 col-xs-offset-2">
				<input class="input-lg" type="text" ng-model="product.name" placeholder="product name"></input>
				<span>
				    <stars-rating avgstars="product.reviews" hideborder="true"></stars-rating>
				</span>
			</div>
			<img class="img-thumbnail" ngf-thumbnail="file || '{{product.imageUrl[0]}}'">
			<form name="form">
			  <button class="btn btn-block btn-success" ngf-select="setImageUrl()" ng-model="file" name="file" ngf-pattern="'image/*'"
			    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
			    ngf-resize="{width: 350, height: 350}">Select image...</button>
			</form>
		</div>
		<div class="col-xs-4">
			<p id="availabilityLabel" ng-show="product.available">Currently Available.</p>
			<p><span>Price:</span>
			<input type="text" class="input-lg" ng-model="product.price" placeholder="price"></input></p>
			<span>Quantity:</span>
			<input type="text" class="input-lg" placeholder="quantity" ng-model="product.quantity"></input>
			<p ng-show="!product.available" class="text-danger"><b>UNAVAILABLE</b></p>
			<span>Description:</span>
			<textarea class="form-control" rows="10" ng-model="product.description"></textarea>
		</div>
		<div class="col-md-4">
			<h4>Category:</h4>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="category in categories">
					<div class="checkbox">
						<label>
							<input ng-checked="checkCategory(category)" ng-click="onChange(category)" type="checkbox">{{category.name}}</input>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="divider" class="col-xs-12"></div>
</div>
