<div class="container">
	<div id="product" class="row">
		<div class="col-xs-4">
			<div class="form-group col-xs-8 col-xs-offset-2">
				<h3 class="list-group-item-heading">{{product.name}}</h3>
				<span>
				    <stars-rating avgstars="product.reviews" hideborder="true"></stars-rating>
				</span>
			</div>
			<img class="img-thumbnail" src="{{product.imageUrl[0]}}">
		</div>
		<div class="col-xs-4">
			<p id="priceLabel">Price: {{product.price | currency}}</p>
			<p id="availabilityLabel" ng-show="product.available">Currently Available.</p>
			<p ng-show="product.available" id="remainingStockLabel">{{product.quantity}} left in stock.</p>
			<p ng-show="!product.available"  class="text-danger"><b>UNAVAILABLE</b></p>
			<p>{{product.description}}</p>
		</div>
		<div class="col-xs-4">
					<span>Quantity: </span>
					<input type="text" ng-model="quantity" />
			<button type="button" class="btn btn-success btn-lg btn-block" ng-disabled="!product.available" id="cart-btn-lg" ng-click="addToCart(product)">Add to Cart</button>
		</div>
	</div>
	<div id="divider" class="col-xs-12"></div>
	<div id="reviews" class="row">
		<span><h3>Customer Reviews</h3></span>
		<button class="btn btn-lg btn-warning" ng-class="{active: makeNew}" ng-click="makeNew=!makeNew" ng-show="isLoggedIn() && !userHasReviewed()">Write a review</button>
		<h5 ng-show="userHasReviewed()">You've already reviewed this product</h5>
		<div class="well clearfix" ng-show="makeNew">
			<form name="ReviewForm" novalidate>
				<stars-rating editable="true" model="newReview"></stars-rating>
		    <div class="form-group"><span>Title</span>
		        <input type="text" class="form-control" ng-model="newReview.title" required/>
		    </div>
		    <div class="form-group"><span>Content</span>
		        <textarea class="form-control" ng-model="newReview.content" required></textarea>
		    </div>
				<button class="btn btn-danger pull-right" ng-click="submitReview()" ng-disabled="ReviewForm.$invalid">Submit</button>
			</form>
		</div>

		<div class="list-group">
			<!-- Will use ng-repeat on product's customer reviews array -->
			<div class="list-group-item" ng-show="review.content" ng-repeat="review in product.reviews">
				<h3 class="list-group-item-heading">{{review.title}}</h3>
				<stars-rating numstars="review.stars"></stars-rating>
				<small class="pull-right"><i>{{review.created | date: 'medium'}}</i></small>
				<h5 class="list-group-item-heading" ng-init="getUser(review.author, $index)">{{review.useremail}}</h5>
			    <p class="list-group-item-text well">{{review.content}}</p>
			</div>
		</div>
		<div class="well" ng-show="!product.reviews.length">
			<h5>There are no reviews yet</h5>
		</div>
	</div>
</div>
