<uib-accordion>
  <uib-accordion-group ng-repeat="order in orders">
    <uib-accordion-heading>
      <!-- <span class="badge">Order {{$index + 1}}</span> -->
      <span class="badge" ng-show="fetchCart()._id === order._id && !admin">current order</span>
      <b><span>{{order.created | date : 'medium'}}</span></b>

      <div ng-if='admin'>
        <span ng-init="getUser(order)">User: {{order.user}}</span>
        <select class="pull-right" ng-model="order.newStatus">
          <option ng-selected="order.status==='created'" value="created">Created</option>
          <option ng-selected="order.status==='placed'" value="placed">Processing</option>
          <option ng-selected="order.status==='canceled'" value="canceled">Canceled</option>
          <option ng-selected="order.status==='closed'" value="closed">Completed</option>
        </select>
        <button ng-click="changeStatus(order)" class="btn btn-xs btn-warning pull-right" style="margin-right:5px;">Change status</button>
      </div>
      <span>{{subtotal(order) | currency}}</span
      <span> / {{numItems(order)}} items </span>
    </uib-accordion-heading>
    <div class="row" ng-show="order.status==='created' && fetchCart()._id !== order._id">
        <div class="col-md-12">
            <button class="btn btn-success btn-xs pull-left" type="button" ng-click="setCart(order)">Retrieve this order</button>
            <button class="btn btn-danger btn-xs pull-right" ng-click="removeOrder(order._id)" type="button">Delete</button>
        </div>
    </div><br>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in order.items">
          <span><a ui-sref="product-detail({productId: item.product._id})">{{item.product.name}}</a>: x{{item.quantity}} / {{item.price | currency}} each</span>
        </li>
    </ul>
  </uib-accordion-group>
  <h4 ng-show="!orders.length">There are no orders</h4>
</uib-accordion>
