<section>
  <div class="page-header">
    <h3 class="text-center bg-primary">Welcome to our store</h3></div>
  <uib-carousel active="active" interval="5000" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img id="slide-img" src="{{slide.image}}">
      </uib-slide>
    </uib-carousel>
  <div class="container">
    <div class="col-lg-12 col-lg-offset-0 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center bg-primary">Shop by Category</h4></div>
            <div class="col-md-12" id="category-panel">
                <div id="category-pane" ng-class="{well: activeCat===category._id}" ng-repeat="category in categories" ng-click="filterByCategory(category)">
                  <img class="img-thumbnail" src="{{category.imageUrl}}">
                    <h5 class="text-center text-primary">{{category.name}} </h5>
                </div>

            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search our products" ng-model="toSearch">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </div>
        </div>
        <h4>Showing: {{filtered.length || products.length}} products</h3>
    </div>
    <div class="col-md-12" id="product-panel">
        <product-pane ng-repeat="product in products | filter: {name: toSearch} as filtered" product="product"></product-pane>
      </div>

</section>
