<div>
    <h4>Showing: {{users.length}} users</h4>
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="user in users">
            <h5 class="pull-left">{{user.email}}
            </h5>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-sm" ng-class="user.isAdmin ? 'btn-success' : 'btn-default'" type="button" ng-disabled="user.isAdmin === true" ng-click="promoteUser(user._id, {isAdmin: true})">Promote</button>
                <button class="btn btn-default btn-sm" type="button" ng-click="resetPW(user._id, {passwordReset: true})">Reset Password</button>
                <button class="btn btn-danger btn-sm" type="button" ng-click="removeUser(user._id)">Remove
                </button>
            </div>
        </li>
    </ul>
</div>
